@font-face {
    font-family: 'AkzidenzSuper';
    src: url('../fonts/AkzidenzGrotesk-Super.eot');
}
  /* then for WOFF-capable browsers */
@font-face {
  font-family: 'AkzidenzSuper';
  src: url('../fonts/AkzidenzGrotesk-Super.woff') format("woff");
}

@font-face {
    font-family: 'AkzidenzRegular';
    src: url('../fonts/AkzidenzGrotesk-Regular.eot');
}
  /* then for WOFF-capable browsers */
@font-face {
  font-family: 'AkzidenzRegular';
  src: url('../fonts/AkzidenzGrotesk-Regular.woff') format("woff");
}

.container {margin: 0 auto;}

body {
  margin:0; padding:0;
	background: white; color:#666;
	font-family: 'AkzidenzRegular', 'Arial', 'Helvetica', sans-serif; 
  overflow-y:scroll;
  min-width:940px;
  font-size:13px; line-height: 160%;
}



ul {list-style-type: none; margin:0; padding:0;}

a { color:#666; text-decoration: none;}
.unselectable {
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}


.upper_red {background: #bf1515; height:16px;width:100%;}

.header_logo {display: block; padding-top:95px; padding-bottom: 100px}
.header_logo.index {padding-top:133px; padding-bottom: 0}

.nav {
  font-family: 'AkzidenzSuper', 'Arial', 'Helvetica', sans-serif; font-size:16px;
  text-align: right;
}

.nav.index {
  text-align: center; margin-top:65px;
}

.nav > li {
  margin:0 9px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.nav > li.sub {
  margin:0 0px; font-size:10px;
  margin-top:-2px;
  font-family: 'AkzidenzMedium', 'Arial', 'Helvetica', sans-serif; 
}

.nav > li > a { color:#666666;}

.nav > li.sub > a { color:#999;}

.index_img {display: block; margin: 60px 0;}


.copyright {
  font-size:11px; margin-bottom: 132px;
}

.copyright.index{
  text-align: center;
}


#header {
  margin-top:80px;
}

#header h1 {
  margin:0; padding:0; color:#bf1515; font-family: 'AkzidenzSuper', 'Arial', 'Helvetica', sans-serif; font-size:62px; white-space: nowrap;
  position: relative; top:10px; font-weight: normal
}

#header h1 a {
  color:#bf1515;
}

#sub_header {
  padding-bottom:85px; border-bottom:1px solid #dbdbdb; margin-bottom:66px;
}
h2 {margin:0; padding:0; color:#bf1515; font-family: 'AkzidenzSuper', 'Arial', 'Helvetica', sans-serif; font-size:30px; margin-bottom:29px; font-weight: normal}
h3 {margin:0; padding:0; color:#bf1515; font-family: 'AkzidenzSuper', 'Arial', 'Helvetica', sans-serif; font-size:28px; font-weight: normal;}

.members {background:#bf1515; height:187px; }
.padding_fix {padding:13px;}
.members .padding_fix h3 {color: white;}
.members .padding_fix h3.gallery {line-height: 110%;}
.member_module {margin-bottom:38px;}
.member_module img {display: block;}
.member_module h3 {margin-bottom:26px; margin-top:15px;}


#footer {border-top: 1px solid #dbdbdb; padding-top:27px;}

.cover_wrap {border:1px solid #dbdbdb;}
.cover_wrap img {display: block;}

.album_wrap {padding-bottom:78px;}

#sub_header.wallpaper {
  padding-bottom: 45px;
}

#sub_header.wallpaper h2 {margin-bottom:15px;}

#sub_header.wallpaper a {font-family: 'AkzidenzSuper', 'Arial', 'Helvetica', sans-serif; color: #999;font-size:12px;}

.movie_wrap {border:6px solid #bf1515;}
.movie_wrap iframe {display: block;}

.member_module.vid {cursor: pointer;}
.member_module.vid h3 {line-height: 103%; margin-top: 10px;}


.twt_item { border-bottom:1px solid #dbdbdb; padding-bottom: 30px; margin-bottom:30px;}
.twt_item .img_wrap {margin-bottom:20px;}
.twt_item .date{ color:#bf1515;}

.popup_bg {position:fixed; left:0; top:0; bottom:0; right:0; background:url("../img/bg_popup.png"); display: none;}
.popup {width:780px; height:586px; position: fixed; top:50%; left:50%; margin-left:-390px; margin-top:-293px; display: none; border:1px solid #dbdbdb;}
.popup .swipe {background: #fdfdfd;}
.popup .control { background:white; height:66px; position: absolute; bottom:0; left:0; right:0;}

.popup .control .left {width:18px; height:21px; background: url("../img/left.png") no-repeat; position:absolute; left:15px; top:21px;}
.popup .control .right {width:18px; height:21px; background: url("../img/right.png") no-repeat; position:absolute; left:43px; top:21px;}
.popup .control .close {width:21px; height:21px; background: url("../img/close.png") no-repeat; position:absolute; right:15px; top:21px;}

.popup img {height:520px; display: block; margin:0 auto;}


.photo_module {cursor: pointer;}

.pull-right {text-align: right;}